In [1]:
#range(x,y,i)
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [4]:
for i in range(5):
    print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [6]:
for i in range(1,5):
    print(i)

1
2
3
4

In [9]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [12]:
n=int(input("Enter the value of n "))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter the value of n 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [13]:
for i in range(5):
    x=int(input("Enter value of x"))
    print(x)

Enter value of x20
20
Enter value of x90
90
Enter value of x00
0
Enter value of x365
365
Enter value of x37
37

In [2]:
s=0
for i in range(5):
    x=int(input("Enter value of x "))
    print(x)
    s=s+x
    
print("Total sum is",s)

Enter value of x 2
2
Enter value of x 4
4
Enter value of x 5
5
Enter value of x 6
6
Enter value of x 3
3
Total sum is 20

In [2]:
# enter 1st, 2nd value...
s=0
n = int(input("Enter n ="))
for i in range (1,n+1):
    x=int(input(f"Enter {i} value = "))
    s=s+x
    
print("Total sum is",s)

Enter n =8
Enter 1 value = 5
Enter 2 value = 4
Enter 3 value = 3
Enter 4 value = 2
Enter 5 value = 2
Enter 6 value = 1
Enter 7 value = 3
Enter 8 value = 5
Total sum is 25

In [7]:
sub= ['physics','maths', 'english']
n = int(input("Enter n ="))
for i in range (n):
    x=int(input(f"Enter {sub[i]} marks = "))
    print(x)

Enter n =3
Enter physics marks = 4
4
Enter maths marks = 2
2
Enter english marks = 1
1

In [6]:
s=0
n=int(input("enter the value of n"))
for i in range(n):
    x=int(input("Enter value of x"))
    s=s+x
    
print("Total sum is",s)

enter the value of n8
Enter value of x8
Enter value of x8
Enter value of x0
Enter value of x3
Enter value of x2
Enter value of x1
Enter value of x1
Enter value of x2
Total sum is 25

In [5]:
s=0
for i in range(5):
    x=int(input("Enter value of x"))
    print(x)
    s=s+x
    print("Total sum is",s)

Enter value of x1
1
Total sum is 1
Enter value of x2
2
Total sum is 3
Enter value of x3
3
Total sum is 6
Enter value of x6
6
Total sum is 12
Enter value of x4
4
Total sum is 16

In [15]:
s=str()
n=int(input("enter value of n"))
for i in range(n):
    x=input("Enter name")
    s=s+x+' '
       
print(s)

enter name4
Enter value of xRam
Enter value of xshyam
Enter value of xtyam
Enter value of xkyam
Ram shyam tyam kyam

In [1]:
s=str()
n=int(input("Enter number"))
for i in range(n):
    x=input("Enter name ")
    y=input("Enter phone number ")    
    s=s+x+" "+y+'\n'    

print(s)

Enter number3
Enter name Nikita
Enter phone number 9860826004
Enter name Kiki
Enter phone number 9860826004
Enter name OOP
Enter phone number 9860826004
Nikita 9860826004
Kiki 9860826004
OOP 9860826004

In [3]:
s=0
n=int(input("Enter number"))
for i in range(n+1):
    s=s+i
print(s)

Enter number7
28

In [9]:
a=1
n=int(input("Enter number"))
for i in range(1,n+1):
    a=a*i
print(a)

Enter number4
24

In [10]:
for i in range(21):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(5,-6,-1):
    print(i)

5
4
3
2
1
0
-1
-2
-3
-4
-5

In [20]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [24]:
for i in range(100):
    if i%2 == 0:
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [25]:
a="PYTHON"
for i in a:
    print(i, end=" ")

P Y T H O N

In [34]:
a="Hello World I am Python"
for i in a:
    if i != "l" and i != "a":
        print(i, end="")

Heo Word I m Python

In [1]:
#print prime numbers between  two numbers 
n1= int(input("Enter n1 = "))
n2= int(input("Enter n2 = "))
if n1>=2 and n2>=0:
    for i in range(n1,n2):
        for j in range (2,i):
            if i%j==0:
                break
        else:
            print(i)
            
else:
    print("Please Enter Valid Number")

Enter n1 = 10
Enter n2 = 50
11
13
17
19
23
29
31
37
41
43
47