In [ ]:
# Comprehensive: List, Dictionary

In [1]:
# list
a = [i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [2]:
#list
a = [int(input("Enter value"))for i in range(5)]
print(a)

Enter valur2
Enter valur3
Enter valur45
Enter valur6
Enter valur75
[2, 3, 45, 6, 75]

In [4]:
#list
a = list(int(input("Enter value"))for i in range(5))
print(a)

Enter value45
Enter value6
Enter value7
Enter value8
Enter value9
[45, 6, 7, 8, 9]

In [6]:
data=[34,65,45,37,87,99,456]
a = list(i for i in data if i %2==0)
print(a)

[34, 456]

In [7]:
data=["Apple","ball","Cat","DOG","Fish"]
a = list(i for i in data if i[0].isupper() )
print(a)

['Apple', 'Cat', 'DOG', 'Fish']

In [9]:
data = {i:i**2 for i in range(1,11)}
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
data=["Apple","ball","Cat","DOG","Fish"]
data={i:i.lower() for i in a}
data
list(data.values())

['apple', 'cat', 'dog', 'fish']

In [16]:
# Python date and time
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Sun Dec  4 16:58:31 2022

In [17]:
import datetime

x = datetime.datetime.now()
name =input("Enter name")

y = datetime.datetime.now()
print(y-x)

Enter namekiki
0:00:03.624105

In [22]:
import pandas as pd
df= pd.read_excel("Book.xlsx")
df

     Name  Age     Address  Phone Number
0  Nikita   24  Dhumbarahi    9860826004
1     Avi   26       Thimi    9841818572

In [23]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bill.txt',
 'Bonus.ipynb',
 'Book.xlsx',
 'books.csv',
 'Class1(Variables and operator).ipynb',
 'Class10 (Set).ipynb',
 'Class11(File).ipynb',
 'Class12(pandas).ipynb',
 'Class13 Database(MYSQL).ipynb',
 'Class14(OOP).ipynb',
 'Class15(OOP-Inheritance, Encapsulation).ipynb',
 'Class16(Web Scrapping).ipynb',
 'Class2(if else... nested if).ipynb',
 'Class3(loop).ipynb',
 'Class4(While and Control Statement).ipynb',
 'Class5(Functions).ipynb',
 'Class6(String).ipynb',
 'Class7(List).ipynb',
 'Class8(Tuple).ipynb',
 'Class9(Dictionary).ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'list_data.csv',
 'new_data.csv',
 'Python.docx',
 '~$Book.xlsx']

In [24]:
os.mkdir("New Folder")