In [ ]:
#Dictionary
#Indexed
#Multiple and duplicate value
#Ordered
#Mutable

In [1]:
#d={<key>:<value>,<key>:value>,...}
d={'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [2]:
info={'name':'Ram', 'age':10, 'add':'Nepal'}
print(info['name'])
print(info['age'])
print(info['add'])

Ram
10
Nepal

In [3]:
#d=dict()
d={}
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [4]:
info={}
n = int(input("Enter n "))
for i in range(n):
    name= input("Enter name ")
    phone= int(input("Enter phone "))
    info[name]= phone
print(info)

Enter n 3
Enter name Nikita
Enter phone 9860826004
Enter name Avinandan
Enter phone 878787
Enter name Poppy
Enter phone 98989899
{'Nikita': 9860826004, 'Avinandan': 878787, 'Poppy': 98989899}

In [6]:
a={'Ram':9860826004, 'Shyam':980666787}
for i in a:
    print(i)

Ram
Shyam

In [8]:
a={'Ram':9860826004, 'Shyam':980666787}
for i in a.values():
    print(i)

9860826004
980666787

In [9]:
a={'Ram':9860826004, 'Shyam':980666787}
for i in a.items():
    print(i)

('Ram', 9860826004)
('Shyam', 980666787)

In [10]:
#tupples inside lists
l=[]
a={'Ram':9860826004, 'Shyam':980666787}
for i in a.items():
    l.append(i)
print(l)

[('Ram', 9860826004), ('Shyam', 980666787)]

In [11]:
dict (l)

{'Ram': 9860826004, 'Shyam': 980666787}

In [13]:
d={'Ram':9860826004, 'Shyam':980666787}
a={'Hari':986782653}
d.update(a)
d

{'Ram': 9860826004, 'Shyam': 980666787, 'Hari': 986782653}

In [14]:
a={'Ram':9860826004, 'Shyam':980666787}
a['Ram']= 980800900
a

{'Ram': 980800900, 'Shyam': 980666787}

In [15]:
#list inside dictionary
a={'Ram':[9860826004,98088772836], 'Shyam':[9806667874,9827536373]}
a

{'Ram': [9860826004, 98088772836], 'Shyam': [9806667874, 9827536373]}

In [16]:
info={}
n=int(input("Enter the value of n "))
for i in range(n):
    name = input ("Enter name ")
    age= int(input("Enter age "))
    ntc= int(input("Enter ntc number "))
    ncell= int(input("Enter ncell number "))
    info[name]=[age,ntc,ncell]
print(info)

Enter the value of n 4
Enter name Nikita
Enter age 25
Enter ntc number 9860829004
Enter ncell number 8792836647
Enter name Avi
Enter age 27
Enter ntc number 7387383
Enter ncell number 376476487
Enter name poppy
Enter age 65
Enter ntc number 7265633
Enter ncell number 87350
Enter name Niko
Enter age 34
Enter ntc number 76437637
Enter ncell number 288375
{'Nikita': [25, 9860829004, 8792836647], 'Avi': [27, 7387383, 376476487], 'poppy': [65, 7265633, 87350], 'Niko': [34, 76437637, 288375]}

In [2]:
# data = {'Name':['Ram','Shyam','Hari'],
#        'Age':[45,32,45],
#        'Add':['Kathmandu','Bhaktapur','Lalitpur']}

info={'Name':[],'Age':[], 'Add':[]}
n=int(input("Enter the value of n "))
for i in range(n):
    name= input("Enter name ")
    age= int(input("Enter age "))
    add= input("Enter address ")
    info['Name'].append(name)
    info['Age'].append(age) 
    info['Add'].append(add)
print(info)

Enter the value of n 2
Enter name Nikita
Enter age 26
Enter address Bra
Enter name Niki
Enter age 77
Enter address Bara
{'Name': ['Nikita', 'Niki'], 'Age': [26, 77], 'Add': ['Bra', 'Bara']}

In [18]:
a= {'Name': ['Ram', 'Shyam'], 
 'Age': [36, 65], 
 'Add': ['Kathmandu', 'Bhaktapur']}
a['Name'].append('Hari')
a['Age'].append(54)
a['Add'].append('Bara')
a

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [36, 65, 54],
 'Add': ['Kathmandu', 'Bhaktapur', 'Bara']}

In [20]:
#del pop()
d=  {'Name': ['Ram', 'Shyam'], 
     'Age': [36, 65], 
     'Add': ['Kathmandu', 'Bhaktapur']}
del d['Add']
d

{'Name': ['Ram', 'Shyam'], 'Age': [36, 65]}

In [22]:
a=  {'Name': ['Ram', 'Shyam'], 
     'Age': [36, 65], 
     'Add': ['Kathmandu', 'Bhaktapur']}
del a['Name'][0]
del a['Age'][0]
del a['Add'][0]
a

{'Name': ['Shyam'], 'Age': [65], 'Add': ['Bhaktapur']}

In [23]:
a=  {'Name': ['Ram', 'Shyam'], 
     'Age': [36, 65], 
     'Add': ['Kathmandu', 'Bhaktapur']}
a['Age'][1]=55
a

{'Name': ['Ram', 'Shyam'], 'Age': [36, 55], 'Add': ['Kathmandu', 'Bhaktapur']}

In [1]:
# dict inside list
l = [{'name':'Ram','age':23,'add':'Kathmandu'},
    {'name':'Shyam','age':34,'add':'Kathmandu'},
    {'name':'Hari','age':21,'add':'Jhapa'}]
l

[{'name': 'Ram', 'age': 23, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Hari', 'age': 21, 'add': 'Jhapa'}]

In [3]:
data=[]
n=int(input("Enter the value of n"))
for i in range(n):
    name= input("Enter name ")
    age= int(input("Enter age "))
    add= input("Enter address ")
    info = {'name': name, 'age':age, 'add':add}
    data.append(info)
print(data)

Enter the value of n2
Enter name Nikita
Enter age 34
Enter address Bara
Enter name Niki
Enter age 67
Enter address Bhaktapur
[{'name': 'Nikita', 'age': 34, 'add': 'Bara'}, {'name': 'Niki', 'age': 67, 'add': 'Bhaktapur'}]

In [4]:
data[0]['name']='Rama'
data

[{'name': 'Rama', 'age': 34, 'add': 'Bara'},
 {'name': 'Niki', 'age': 67, 'add': 'Bhaktapur'}]

In [ ]:
# #dict inside dict
# info = {1:{'name': 'Rama', 'age': 34, 'add': 'Bara'},
#        2:{'name': 'Rama', 'age': 34, 'add': 'Bara}}

In [5]:
data={}
n=int(input("Enter the value of n"))
for i in range(1,n+1):
    name= input("Enter name ")
    age= int(input("Enter age "))
    add= input("Enter address ")
    info = {'name': name, 'age':age, 'add':add}
    data[i]=info
print(data)

Enter the value of n2
Enter name Niki
Enter age 56
Enter address Bara
Enter name Poppy
Enter age 66
Enter address Kathmandu
{1: {'name': 'Niki', 'age': 56, 'add': 'Bara'}, 2: {'name': 'Poppy', 'age': 66, 'add': 'Kathmandu'}}

In [6]:
data[3]={'name': 'Nabin', 'age': 78, 'add': 'Chitwan'}
data

{1: {'name': 'Niki', 'age': 56, 'add': 'Bara'},
 2: {'name': 'Poppy', 'age': 66, 'add': 'Kathmandu'},
 3: {'name': 'Nabin', 'age': 78, 'add': 'Chitwan'}}

In [7]:
data[3]['age']=99
data

{1: {'name': 'Niki', 'age': 56, 'add': 'Bara'},
 2: {'name': 'Poppy', 'age': 66, 'add': 'Kathmandu'},
 3: {'name': 'Nabin', 'age': 99, 'add': 'Chitwan'}}

In [8]:
data1= {1: {'name': 'Niki', 'age': 56, 'add': {'per': 'Jhapa', 'temp':'Bara'}},
 2: {'name': 'Poppy', 'age': 66, 'add': {'per': 'Bara', 'temp':'Kathmandu'}},
 3: {'name': 'Nabin', 'age': 99, 'add': {'per': 'Illam', 'temp':'Bhaktapur'}}}

data1

{1: {'name': 'Niki', 'age': 56, 'add': {'per': 'Jhapa', 'temp': 'Bara'}},
 2: {'name': 'Poppy', 'age': 66, 'add': {'per': 'Bara', 'temp': 'Kathmandu'}},
 3: {'name': 'Nabin', 'age': 99, 'add': {'per': 'Illam', 'temp': 'Bhaktapur'}}}

In [10]:
d= {'Ram':[67,87],
   'Shyam':[908,756]}
d

{'Ram': [67, 87], 'Shyam': [908, 756]}

In [12]:
d= {('Ram','Shyam'):980877789, ('Hari','Sita'):980986543}
d

{('Ram', 'Shyam'): 980877789, ('Hari', 'Sita'): 980986543}

In [13]:
d[('Ram','Shyam')]

980877789