In [ ]:
#python collection
#list
#tuple
#dict
#set

In [ ]:
#list
#indexing
#ordered
#multiple and duplicate value
#mutable
#a=[a,b,...]

In [43]:
a=["Apple","Ball","Cat"]
b=[1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [42]:
a=["Apple","Ball","Cat"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [4]:
a=["Apple","Ball","Cat"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [5]:
a=["Apple","Ball","Cat"]
b=[1,2,3,4,5,6,7,8,9,0]
c=a+b
print(c)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [6]:
b=[1,2,3,4,5,6,7,8,9,0]
print(b*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [8]:

phone=[9860826004,9841818572]
phone

[9860826004, 9841818572]

In [2]:
n=int(input("Enter n = "))
l=[]
for i in range(n):
    x=int(input("Enter x = "))
    l=l+[x]
print(l)

Enter n = 5
Enter x = 7
Enter x = 3
Enter x = 5
Enter x = 6
Enter x = 9
[7, 3, 5, 6, 9]

In [8]:
print("The max value=",max(l))
print("The min value", min(l))
print("The sum of the all value=" , sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value= 9
The min value 3
The sum of the all value= 30
[3, 5, 6, 7, 9]
[9, 7, 6, 5, 3]

In [9]:
a=["apple","zebra","Banana","Cat"]
a.sort()
print(a)

['Banana', 'Cat', 'apple', 'zebra']

In [10]:
a=["apple","zebra","Banana","Cat"]
for i in a:
    print(i)

apple
zebra
Banana
Cat

In [13]:
a=["Ram","Shyam","Hari","Ramesh"]
print("len of a= ",len(a))
if "Shyam" in a:
    print("Yes",a.count("Shyam"))
else:
    print("No")

len of a=  4
Yes 1

In [14]:
#write list
# append() insert() extend()
#dekete
# del() remove() pop()

In [15]:
#append()
a=["Ram","Shyam","Hari","Ramesh"]
a.append("Rakesh")
a

['Ram', 'Shyam', 'Hari', 'Ramesh', 'Rakesh']

In [16]:
#insert()
a=["Ram","Shyam","Hari","Ramesh"]
a.insert(1,"Sita")
a

['Ram', 'Sita', 'Shyam', 'Hari', 'Ramesh']

In [17]:
#extend()
a=["Apple","Ball","Cat"]
b=[1,2,3,4,5,6,7,8,9,0]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [18]:
#delete()
a=["Ram","Shyam","Hari","Ramesh"]
del a[0]
a

['Shyam', 'Hari', 'Ramesh']

In [19]:
#remove()
a=["Ram","Shyam","Hari","Ramesh"]
a.remove("Ram")
a

['Shyam', 'Hari', 'Ramesh']

In [20]:
#pop()
a=["Ram","Shyam","Hari","Ramesh"]
b=a.pop(1)
print(a)
print(b)

['Ram', 'Hari', 'Ramesh']
Shyam

In [22]:
#delete()
a=["Ram","Shyam","Hari","Ramesh"]
del a[1:2]
a

['Ram', 'Hari', 'Ramesh']

In [23]:
a=["Ram","Shyam","Hari","Ramesh","Ram"]
c=a.count("Ram")
for i in range(c):
    a.remove("Ram")
a

['Shyam', 'Hari', 'Ramesh']

In [24]:
#update
a=["Ram","Shyam","Hari","Ramesh"]
a[0]="Rama"
a

['Rama', 'Shyam', 'Hari', 'Ramesh']

In [25]:
a=["Ram","Shyam","Hari","Ramesh"]
a[0:2]=["Rama","Shyama"]
a

['Rama', 'Shyama', 'Hari', 'Ramesh']

In [27]:
a="Apple 2 600 \n Banana 100 3 300"
a.split('\n')

['Apple 2 600 ', ' Banana 100 3 300']

In [11]:
#list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print (len(a))

3

In [8]:
a=[['Ram',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
print(len(a))

3

In [13]:
a=[['Ram',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
print(a[1])

['Shyam', 67, 'Bhaktapur']

In [17]:
a=[['Ram',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
print(a[2][2])

Lalitpur

In [19]:
a=[['Ram',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
a=a+[['Nabin',89,'Bara']]
a

[['Ram', 89, 'Kathmandu'],
 ['Shyam', 67, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Nabin', 89, 'Bara']]

In [20]:
data=[]
n=int(input("Enter n "))
for i in range(n):
    name=input("Enter name ")
    age=int(input("Enter age "))
    add= input("Enter address ")
    info= [name,age,add]
    data.append(info)
print(data)

Enter n 2
Enter name Nikita
Enter age 24
Enter address Bhaktapur
Enter name Avu
Enter age 27
Enter address Kathmandu
[['Nikita', 24, 'Bhaktapur'], ['Avu', 27, 'Kathmandu']]

In [27]:
a=[['Ram',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
a.append(['Nabin',23,'Bara'])
a

[['Ram', 89, 'Kathmandu'],
 ['Shyam', 67, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Nabin', 23, 'Bara']]

In [29]:
a[0][0]='Rama'
a

[['Rama', 89, 'Kathmandu'],
 ['Shyam', 67, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Nabin', 23, 'Bara']]

In [30]:
del a[0]
a

[['Shyam', 67, 'Bhaktapur'], ['Hari', 56, 'Lalitpur'], ['Nabin', 23, 'Bara']]

In [36]:
#search
a=[['Rama',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
search = input("Enter name ")
for i in a:
    if search in i:
        print(i)
        a.remove(i)
print(a)

Enter name Rama
['Rama', 89, 'Kathmandu']
[['Shyam', 67, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [40]:
#index
a=[['Rama',89,'Kathmandu'],
   ['Shyam', 67,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
l=len(a)
search = input("Enter name ")
for i in range(l):
    if search in a[i]:
        print(i)
print(a)

Enter name Rama
0
[['Rama', 89, 'Kathmandu'], ['Shyam', 67, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [41]:
a="Apple 2 600 \n Banana 100 3 300"
x=a.split('\n')
print(x)
data=[]
for i in x:
    y=i.split()
    data.append(y)
print(data)

['Apple 2 600 ', ' Banana 100 3 300']
[['Apple', '2', '600'], ['Banana', '100', '3', '300']]